.button {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
